Consolidated_Schema/Schema/qli_material.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://schemas.microsoft.com/3dmanufacturing/material/2015/02" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="http://schemas.microsoft.com/3dmanufacturing/material/2015/02" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="#all">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xs:annotation>
		<xs:documentation><![CDATA[
		Schema notes:

		Items within this schema follow a simple naming convention of appending a prefix indicating the type of element for references:

		Unprefixed: Element names
		CT_: Complex types
		ST_: Simple types
		
		]]></xs:documentation>
	</xs:annotation>
	<!-- Complex Types -->
	<xs:complexType name="CT_Texture2D">
		<xs:attribute name="id" type="ST_ResourceID" use="required"/>
		<xs:attribute name="path" type="ST_UriReference" use="required"/>
		<xs:attribute name="contenttype" type="ST_ContentType" use="required"/>
		<xs:attribute name="tilestyleu" type="ST_TileStyle" default="wrap"/>
		<xs:attribute name="tilestylev" type="ST_TileStyle" default="wrap"/>
		<xs:attribute name="filter" type="ST_Filter" default="auto"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
		<!-- Box was Depricated-->
		<!--<xs:attribute name="box" type="ST_Box2D"/>-->
		<!-- box has been depreciated-->
	</xs:complexType>
	<xs:complexType name="CT_ColorGroup">
		<xs:sequence>
			<xs:element ref="color" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="ST_ResourceID" use="required"/>
		<xs:attribute name="displaypropertiesid" use="optional"/>
	</xs:complexType>
	<xs:complexType name="CT_Color">
		<xs:attribute name="color" type="ST_ColorValue" use="required"/>
	</xs:complexType>
	<xs:complexType name="CT_Texture2DGroup">
		<xs:sequence>
			<xs:element ref="tex2coord" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="ST_ResourceID" use="required"/>
		<xs:attribute name="texid" type="ST_ResourceID" use="required"/>
		<xs:attribute name="displaypropertiesid" use="optional"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="CT_Tex2Coord">
		<xs:attribute name="u" type="ST_Number" use="required"/>
		<xs:attribute name="v" type="ST_Number" use="required"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="CT_CompositeMaterials">
		<xs:sequence>
			<xs:element ref="composite" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="ST_ResourceID" use="required"/>
		<xs:attribute name="matid" type="ST_ResourceID" use="required"/>
		<xs:attribute name="matindices" type="ST_ResourceIndices" use="required"/>
		<xs:attribute name="displaypropertiesid" use="optional"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="CT_Composite">
		<xs:attribute name="values" type="ST_Numbers" use="required"/>
	</xs:complexType>
	<xs:complexType name="CT_MultiProperties">
		<xs:sequence>
			<xs:element ref="multi" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="ST_ResourceID" use="required"/>
		<xs:attribute name="pids" type="ST_ResourceIDs" use="required"/>
		<xs:attribute name="blendmethods" type="ST_BlendMethods"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="CT_Multi">
		<xs:attribute name="pindices" type="ST_ResourceIndices" use="required"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="CT_PBSpecularDisplayProperties">
		<xs:sequence>
			<xs:element ref="pbspecular" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="ST_ResourceID" use="required"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="CT_PBSpecular">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="specularcolor" type="ST_ColorValue" default="#383838"/>
		<xs:attribute name="glossiness" type="ST_Number" default="0"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="CT_PBMetallicDisplayProperties">
		<xs:sequence>
			<xs:element ref="pbmetallic" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="ST_ResourceID" use="required"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="CT_PBMetallic">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="metallicness" type="ST_Number" default="0"/>
		<xs:attribute name="roughness" type="ST_Number" default="1"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="CT_PBSpecularTextureDisplayProperties">
		<xs:attribute name="id" type="ST_ResourceID" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="speculartextureid" type="ST_ResourceID" use="required"/>
		<xs:attribute name="glossinesstextureid" type="ST_ResourceID" use="required"/>
		<xs:attribute name="diffusefactor" type="ST_ColorValue" default="#FFFFFF"/>
		<xs:attribute name="specularfactor" type="ST_ColorValue" default="#FFFFFF"/>
		<xs:attribute name="glossinessfactor" type="ST_Number" default="1"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="CT_PBMetallicTextureDisplayProperties">
		<xs:attribute name="id" type="ST_ResourceID" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="metallictextureid" type="ST_ResourceID" use="required"/>
		<xs:attribute name="roughnesstextureid" type="ST_ResourceID" use="required"/>
		<xs:attribute name="basecolorfactor" type="ST_ColorValue" default="#FFFFFF"/>
		<xs:attribute name="metallicfactor" type="ST_Number" default="1"/>
		<xs:attribute name="roughnessfactor" type="ST_Number" default="1"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="CT_Translucent">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="attenuation" type="ST_Numbers" use="required"/>
		<xs:attribute name="refractiveindex" type="ST_Numbers" default="1 1 1"/>
		<xs:attribute name="roughness" type="ST_Number" default="0"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="CT_TranslucentDisplayProperties">
		<xs:sequence>
			<xs:element ref="translucent" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="ST_ResourceID" use="required"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!-- Simple Types -->
	<xs:simpleType name="ST_ContentType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="image/jpeg"/>
			<xs:enumeration value="image/png"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_TileStyle">
		<xs:restriction base="xs:string">
			<xs:enumeration value="clamp"/>
			<xs:enumeration value="wrap"/>
			<xs:enumeration value="mirror"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Filter">
		<xs:restriction base="xs:string">
			<xs:enumeration value="auto"/>
			<xs:enumeration value="linear"/>
			<xs:enumeration value="nearest"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ColorValue">
		<xs:restriction base="xs:string">
			<xs:pattern value="#[0-9|A-F|a-f][0-9|A-F|a-f][0-9|A-F|a-f][0-9|A-F|a-f][0-9|A-F|a-f][0-9|A-F|a-f]([0-9|A-F|a-f][0-9|A-F|a-f])?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_UriReference">
		<xs:restriction base="xs:anyURI">
			<xs:pattern value="/.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Number">
		<xs:restriction base="xs:double">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ZeroToOne">
		<xs:restriction base="ST_Number">
			<xs:minInclusive value="0.0"/>
			<xs:maxInclusive value="1.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Numbers">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="(((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?( )?)+)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ResourceID">
		<xs:restriction base="xs:positiveInteger">
			<xs:maxExclusive value="2147483648"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ResourceIndex">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxExclusive value="2147483648"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ResourceIndices">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="(([0-9]+)( )?)+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ResourceIDs">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="(([0-9]+)( )?)+"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- box has been depreciated-->
	<xs:simpleType name="ST_Box2D">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_BlendMethods">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="((multiply)|(mix))?( ((multiply)|(mix)))*"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Elements -->
	<xs:element name="texture2d" type="CT_Texture2D"/>
	<xs:element name="colorgroup" type="CT_ColorGroup"/>
	<xs:element name="color" type="CT_Color"/>
	<xs:element name="texture2dgroup" type="CT_Texture2DGroup"/>
	<xs:element name="tex2coord" type="CT_Tex2Coord"/>
	<xs:element name="compositematerials" type="CT_CompositeMaterials"/>
	<xs:element name="composite" type="CT_Composite"/>
	<xs:element name="multiproperties" type="CT_MultiProperties"/>
	<xs:element name="multi" type="CT_Multi"/>
	<xs:element name="pbspeculardisplayproperties" type="CT_PBSpecularDisplayProperties"/>
	<xs:element name="pbspecular" type="CT_PBSpecular"/>
	<xs:element name="pbmetallicdisplayproperties" type="CT_PBMetallicDisplayProperties"/>
	<xs:element name="pbmetallic" type="CT_PBMetallic"/>
	<xs:element name="pbmetallictexturedisplayproperties" type="CT_PBMetallicTextureDisplayProperties"/>
	<xs:element name="pbspeculartexturedisplayproperties" type="CT_PBSpecularTextureDisplayProperties"/>
	<xs:element name="translucentdisplayproperties" type="CT_TranslucentDisplayProperties"/>
	<xs:element name="translucent" type="CT_Translucent"/>
	<!-- Attributes -->
	<xs:attribute name="displaypropertiesid" type="ST_ResourceID"/>
</xs:schema>
