Consolidated_Schema/Schema/qli_triangleset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://schemas.microsoft.com/3dmanufacturing/trianglesets/2021/07" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="http://schemas.microsoft.com/3dmanufacturing/trianglesets/2021/07" elementFormDefault="unqualified" attributeFormDefault="unqualified" blockDefault="#all">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xs:annotation>
		<xs:documentation><![CDATA[
Schema notes:
Part II. Appendices 34/40
Items within this schema follow a simple naming convention of appending a prefix
indicating the type of element for references:
Unprefixed: Element names
CT_: Complex types
ST_: Simple types
]]></xs:documentation>
	</xs:annotation>
	<!-- Complex Types -->
	<xs:complexType name="CT_Mesh">
		<xs:sequence>
			<xs:element ref="trianglesets" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="CT_TriangleSets">
		<xs:sequence>
			<xs:element ref="triangleset" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="CT_TriangleSet">
		<xs:sequence>
			<xs:element ref="ref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="refrange" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" use="required"/>
		<xs:attribute name="identifier" type="xs:QName" use="required"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="CT_Ref">
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="index" type="ST_ResourceIndex" use="required"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="CT_RefRange">
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="startindex" type="ST_ResourceIndex" use="required"/>
		<xs:attribute name="endindex" type="ST_ResourceIndex" use="required"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!-- Simple Types -->
	<xs:simpleType name="ST_ResourceIndex">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxExclusive value="2147483648"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Elements -->
	<xs:element name="mesh" type="CT_Mesh"/>
	<xs:element name="trianglesets" type="CT_TriangleSets"/>
	<xs:element name="triangleset" type="CT_TriangleSet"/>
	<xs:element name="ref" type="CT_Ref"/>
	<xs:element name="refrange" type="CT_RefRange"/>
</xs:schema>
